{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mb-5 mt-2">
    <div class="col-12 m-0 p-0">
        <h3>Add:</h3>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <button data-toggle="collapse" href=".items" class="btn  btn-primary mr-1">Items</button>
        <button data-toggle="collapse" href=".categories" class=" btn btn-primary">Categories</button>
    </div>
</div>

<div class="row justify-content-center" >
    
    <div class="col-12 col-md-4 collapse items p-1">
        <div class="col-12 -0 p-0">
            <h5 class="m-0 my-2">Favorites:<img src="https://img.icons8.com/emoji/27/000000/star-emoji.png" data-toggle="collapse" href="#fav" class="float-right"/></h5>
        </div>
        <div class="col-12 m-0 p-0">
            <div class="row m-0 p-0 collapse" id="fav">
                {% for fav in favorite %}
                <div class="col-3 col-md-2 m-0 px-1 my-2">
                    <form action="/items/add_item/" method="POST">
                        {% csrf_token %}
                        <input name="item" value="{{ fav.name }}" class="form-control">
                        <input name="item" value="{{ fav.category }}" class="form-control">
                        <input type="submit" value="Add" class="btn btn-success form-control">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        <h5 class="m-0 my-2">Add an Item:</h5>
        <form action="/items/add_item/" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-12 mt-2">
                        <input name="item" class="form-control" required>
                    </div>
                    <div class="col-12 mt-2">
                        <select class="form-control" name="category">
                            {% if categories %}
                                {% for category in categories %}
                                <option value="{{ category.category }}">{{ category.category }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="other">Other</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-12 d-flex justify-content-between my-2 align-items-center">
                        <label>Favorite</label>
                        <input type="checkbox" name="favorite">
                    </div>
                    <div class="col-12 mt-2">
                        <input type="submit" value="Add Item" class="btn btn-success form-control">
                    </div>
                </div>
        </form>
    </div>
    <div class="col-12 col-md-4 collapse categories" >
        <h5 class="m-0">Add a category:</h5>
        <form action="/items/add_category/" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-12 mt-2">
                        <input name="category" class="form-control" required>
                    </div>
                    <div class="col-12 mt-2">
                        <input type="submit" value="Add Category" class="btn btn-success form-control">
                    </div>
                </div>
        </form>
    </div>

    <div class="col-12 col-md-4  collapse categories">
        <h5 class="m-0">Categories:</h5>
            {% csrf_token %}
                <div class="row">
                    {% for cat in categories %}
                        <div class="col-12 d-flex justify-content-between my-2">
                            <p>{{ cat.category }}</p>
                            <a class="btn btn-danger" href="/items/remove_category/{{ cat.id }}">Delete</a>
                        </div>
                    {% endfor %}
                </div>
        </form>
    </div>

</div>
{% endblock %}