{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col d-flex justify-content-center">
        <a href="{% url 'account_email' %}" class="btn btn-warning">Change E-mail</a>
    </div>
    <div class="col d-flex justify-content-center">
        <a href="{% url 'account_logout' %}" class="btn btn-danger">Sign Out</a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <h1 class="text-center">Welcome {{ user.username }}</h1>
        <p class="m-0 text-center">Your registered email is: {{ user.email }}</p>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-between mt-1">
        <a href="/items/items/">
            <img src="https://img.icons8.com/fluent/32/000000/add.png" data-toggle="collapse" href="#add_form" />
        </a>
        <img src="https://img.icons8.com/color/32/000000/delete-forever.png" data-toggle="collapse" href=".delete" />
    </div>
</div>


<ol class="mt-4 pl-4 ">
    {% for item in items %}
    <li style="height:40px;" class="d-flex justify-content-between mt-1">
        {{ item.name }}<span><b>{{ item.category }}</b></span><a href="/items/delete/{{item.id}}" class="btn btn-danger float-right collapse delete">Delete</a>
    </li>
    {% endfor %}
</ol>
<div class="row">
    <div class="col-12">
        <a href="/items/delete_all/" class="container-fluid collapse delete btn btn-danger">Delete All!</a>
    </div>
</div>




{% endblock %}